<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_COMPANION_APP" />
    <uses-permission
        android:name="android.permission.CALL_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sign"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sign"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".login.ResetPasswordActivity"></activity>
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.VerifyLoginActivity" />
        <activity android:name=".login.AccountLoginActivity" />
        <activity android:name=".activity.SendVoicePhoneActivity" />
        <activity android:name=".activity.AnswerCallActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SipAnswerActivity" />
        <activity android:name=".activity.SipCalllingActivity" />
        <activity android:name=".activity.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".activity.IncomingCallReceiver"
            android:label="Call Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>